.front {
    background-color: black;
    background-image: url(/public/image/bg-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    border-radius: 20px;


}